.rusland {
    @include adaptiv-value("padding-top", 77, 50, 1);
    // a{
    //     color: inherit;
    // }
    // .rusland__container
    &__container {
    }
    // .rusland__body
    &__body {
        max-width: 850px;
        margin: 0px auto;
        @include adaptiv-value("font-size", 18, 16, 1);
        line-height: 140%;
        h3 {
            text-align: center;
            font-family: Roboto Condensed;
            font-weight: 700;
            font-size: 40px;
            line-height: 140%;
            @include adaptiv-value("margin-bottom", 16, 30, 1);
            @media (max-width: $md2+px) {
                font-size: 30px;
            }
            @media (max-width: $md4+px) {
                font-size: 20px;
            }
        }
        p {
            @include adaptiv-value("margin-bottom", 30, 27, 1);
        }
        ul {
            li {
                list-style: inherit;
                margin-left: 20px;
            }
        }
    }
    // .rusland__title
    &__title {
        text-align: center;
        @include adaptiv-value("margin-bottom", 55, 29, 1);
    }
}